
@{
    ViewData["Title"] = "Create";
}
<div style="margin:50px;">
    <h3>Nhap Thong Tin Sinh Vien</h3>
    <hr />
    <form action="/Student/Store" method="post">
        <div style="margin:20px">UserName : <input name="Name" type="text" /></div>
        <div style="margin:20px">RollNumber : <input name="RollNumber" type="text" /></div>
        <div style="margin:20px"><input type="submit" value="Store" /></div>
    </form>
</div>

<h2>Create</h2>

