
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteData</title>
</head>
<body>
    <form action="/Student/Delete/" method="delete">
<input name="Id" type="text" />
        <input type="submit" value="Delete" />
</form>
</body>
</html>
